#leaflet-us-map.leaflet-container {
  height: 324px;
  width: 100%;
  z-index: 0;
}

.no-hover:hover {
  border-bottom: 2px solid transparent !important;
}

.ant-menu-item .ant-avatar .anticon {
  margin: 0;
}
